<label class="radio-block {% if disabled %} radio-block--disabled {% endif %}" for="radio_block">
  <div class="radio-block__radio-wrapper">
    <input class="radio" type="radio" id="radio_block" name="radio_block" {% if disabled %} disabled {% endif %} />
  </div>

  <div class="radio-block__infos-wrapper">
    <div class="radio-block__infos-top radio-block__infos-top">
      <p class="radio-block__title">
        {{ title }}

        {% if badge != null %}
          <span class="radio-block__badge">
            {{ badge }}
          </span>
        {% endif %}
      </p>

      {% if releaseNote != null %}
        <a class="radio-block__release-note">
          Release note
          <i class="material-icons">open_in_new</i>
        </a>
      {% endif %}
    </div>
    <p class="radio-block__message">{{ message }}</p>
  </div>
</label>
