@use "../variables" as *;

$e: ".radio-card";

#{$ua-prefix} {
  #{$e} {
    --ua-radio-card-title-color: #1d1d1b;
    --ua-radio-card-title-color-disabled: #bbbbbb;
    --ua-radio-card-message-color: #5e5e5e;
    --ua-radio-card-message-color-disabled: #bbbbbb;
    --ua-radio-card-disabled-message-color: #ffffff;
    --ua-radio-card-disabled-message-background-color: #1d1d1b;
    --ua-radio-card-border-radius: 0;
    --ua-radio-card-border-color: #dddddd;
    --ua-radio-card-border-color-hover: #1d1d1b;
    --ua-radio-card-border-color-active: var(--ua-radio-card-border-color-hover);
    --ua-radio-card-release-color: #1d1d1b;
    --ua-radio-card-release-border-color: #dddddd;
    --ua-radio-card-release-border-color-hover: var(--ua-radio-card-release-color);
    --ua-radio-card-badge-color: #1d1d1b;
    --ua-radio-card-badge-background-color: #f7f7f7;
    --ua-radio-card-badge-border-color: #dddddd;
    --ua-radio-card-badge-major-background-color: #f8f0f7;
    --ua-radio-card-badge-major-border-color: #decde7;
    --ua-radio-card-badge-minor-background-color: #e4f4f8;
    --ua-radio-card-badge-minor-border-color: #a4dbe8;
    all: unset;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid var(--ua-radio-card-border-color);
    border-radius: var(--ua-radio-card-border-radius);
    transition: border-color 0.15s;

    &:not(#{$e}--disabled) {
      &:hover {
        border-color: var(--ua-radio-card-border-color-hover);
        cursor: pointer;
      }
    }

    &:has(input[type="radio"]:checked) {
      border-color: var(--ua-radio-card-border-color-active);
    }

    &__radio-wrapper {
      flex-shrink: 0;
    }

    &__infos-wrapper {
      flex-grow: 1;
    }

    &__infos-top {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 700;
      color: var(--ua-radio-card-title-color);
      line-height: 1.4;
      margin-block: 0;
    }

    &__badge {
      flex-shrink: 0;
      padding: 0.125rem 0.5rem;
      background-color: var(--ua-radio-card-badge-background-color);
      border: 0.0625rem solid var(--ua-radio-card-badge-border-color);
      border-radius: 2rem;
      font-size: 12px;
      font-weight: 500;
      color: var(--ua-radio-card-badge-color);
      line-height: 1.5;

      &--major {
        background-color: var(--ua-radio-card-badge-major-background-color);
        border-color: var(--ua-radio-card-badge-major-border-color);
      }

      &--minor {
        background-color: var(--ua-radio-card-badge-minor-background-color);
        border-color: var(--ua-radio-card-badge-minor-border-color);
      }
    }

    &__message {
      font-size: 0.875rem;
      margin-block: 0.5rem 0;
      color: var(--ua-radio-card-message-color);
    }

    &__release-note {
      display: inline-flex;
      gap: 0.25rem;
      align-items: center;
      justify-content: flex-end;
      font-size: 0.875rem;
      color: var(--ua-radio-card-release-color);
      line-height: 1.4;
      text-decoration: none;
      border-bottom: 1px solid var(--ua-radio-card-release-border-color);
      transition: border-color 0.15s;

      &:hover {
        text-decoration: none;
        border-color: var(--ua-radio-card-release-border-color-hover);
      }

      i {
        font-size: 0.875rem;
      }
    }

    &__disabled-message {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      padding: 0.5rem 0.75rem;
      background-color: var(--ua-radio-card-disabled-message-background-color);
      transform: translate(-50%, -50%);
      font-size: 0.875rem;
      color: var(--ua-radio-card-disabled-message-color);
      line-height: 1.4em;
    }

    &__local-archive {
      padding-block-start: 0.5rem;
    }

    &--disabled {
      position: relative;
      cursor: not-allowed;

      #{$e}__title {
        color: var(--ua-radio-card-title-color-disabled);
      }

      #{$e}__message {
        color: var(--ua-radio-card-message-color-disabled);
      }

      #{$e}__badge,
      #{$e}__release-note {
        opacity: 0.4;
        pointer-events: none;
      }

      #{$e}__disabled-message {
        display: block;
      }
    }
  }
}
