@use "../../variables" as *;

$e: ".radio";

#{$ua-id} {
  #{$e} {
    --#{$ua-prefix}radio-border-color: var(--#{$ua-prefix}primary);
    --#{$ua-prefix}radio-checked-background-color: var(--#{$ua-prefix}primary);
    --#{$ua-prefix}radio-checked-border-color: var(--#{$ua-prefix}primary);
    --#{$ua-prefix}radio-disabled-border-color: var(--#{$ua-prefix}disabled-color);
    position: relative;
    margin: 0;
    padding: 0;
    width: 1.25rem;
    height: 1.25rem;
    background: transparent;
    background-clip: content-box;
    border: 0.125rem solid var(--#{$ua-prefix}radio-border-color);
    border-radius: 50%;
    outline: none;
    line-height: 0;
    -webkit-appearance: none;
    cursor: pointer;

    &:checked {
      padding: 0.1875rem;
      background-color: var(--#{$ua-prefix}radio-checked-background-color);
      border: 0.125rem solid var(--#{$ua-prefix}radio-checked-border-color);
    }

    &:disabled {
      border-color: var(--#{$ua-prefix}radio-disabled-border-color);
    }
  }
}
